@import url('reset.css');
.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}

/* header */
.header{
    background: rgb(61, 54, 48);
    padding: 30px 0;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}
.main {
    flex: 1;
}
.menu {
    display: flex;
    text-align: center;
    /* background: rgb(166, 166, 157); */
    justify-content: center;
    font-size: 0px;
    gap: 30px;
    font-family: 'Prompt';
}
.menu > li {
    text-transform: uppercase;
    /* background: orange; */
    position: relative;
    font-size: 18px;
    /* display: inline-block; */
}

.menu a:hover svg, .menu a:hover span {
    fill: #ffffff;
    color: #ffffff;
}
.menu a {
    color: #7f75a5;
    text-decoration: none;
    padding: 10px 25px;
    /* display: block; */
    /* position: relative; */
}
.menu .active {
    fill: rgb(222, 16, 16);
    color:rgb(222, 16, 16);
}
/* .menu span {
    padding: 10px 0 10px 10px;
} */
.head-icon {
    height: 35px;
    width: 35px;
    fill: #7f75a5;
    /* position: absolute;
    top: 0;
    left: 0; */
}
/* .menu > li .active {
    color: red;
} */
.head-icon {
    vertical-align: middle;
}
.second-ul {
    /* padding: 10px 0 0; */
    position: absolute;
    z-index: 2;
    top: -1000%;
    left: -1000%;
    background: rgb(61, 54, 48);
    /* display: none; */
    width: 100%;
    font-family: 'Asap Condensed';
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.menu > li:hover .second-ul{
    /* display: block; */
    top: 100%;
    left: 0;
}
/* .second-ul a {
    border: 1px solid black;
} */
.site-amelia {
    display: none;
    position: absolute;
    z-index: 1;
    right: 100%;
    top: 0;
    background: rgb(61, 54, 48);
    font-family: 'Roboto';
}
.second-ul > li {
    padding: 10px 0;
    font-size: 25px;
}
.second-ul  a:hover {
    /* color: #303839; */
}
.second-ul > li:hover .site-amelia {
    display: block;
}
.site-relative {
    position: relative;
}
.left-arrow {
    width: 15px;
    height: 15px;
}
.amelia {
    padding: 10px 0;
}
.left-arrow {
    fill: #7f75a5;
}





/* floats */



.floats {
    padding: 50px 0;
}
.float-green {
    background: rgb(45, 199, 45);
    width: 400px;
    height: 400px;
    outline: 1px solid red;
    float: left;
}
.float-2 {
    outline: 1px solid red;
}
.float-orange {
    float: left;
}
.float-blue{
    float: left;
}
.orange {
    background: orangered;
    width: 800px;
    height: 200px;
    outline: 1px solid red;
}
.light-blue {
    background: #01c7dd;
    width: 400px;
    height: 133px;
    outline: 1px solid red;
}
.clearfix::after {
    content: '';
    clear: both;
    display: block;
}

.float-3 {
    outline: 1px solid red;
}
.float-test {
    float: left;
}
.float-test2 {
    float: left;
}
.float-3-color-violet {
    float: left;
    outline: 1px solid red;
}
.float-3-color-yellow {
    float: left;
    outline: 1px solid red;
}
.pink {
    background: rgb(255, 0, 212);
    width: 400px;
    height: 400px;
}
.blue {
    background: blue;
    width: 800px;
    height: 200px;
}
.violet {
    background: violet;
    width: 400px;
    height: 200px;
}
.yellow {
    background: yellow;
    width: 400px;
    height: 100px;
}




/* cards */


.body {
    margin-top: 50px;
}
.cards {
    font-size: 0;
}
.card {
    width: 400px;
    padding: 20px;
    display: inline-block;
    font-size: 18px;
    vertical-align: top;
}
.images{
    display: block;
    height: 200px;
    overflow: hidden;   
}
.images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.child {
    text-align: center;
    border: 1px solid rgb(216, 216, 221);
    padding-bottom: 20px;
    padding: 10px 10px 20px 10px;
    border-radius: 3px;
}
.child h2 {
    margin: 10px 0;
}
.child h2 > a {
    color: rgb(36, 33, 37);
    text-decoration: none;
}
.card-about p{
    text-align: justify;
}
.card-about p + p {
    margin-top: 10px;
}
.card-about {
    overflow: hidden;
    margin-bottom: 25px;
    height: 192px;
}
.card-about + a {
    color: rgb(150, 56, 2);
}
.for-cards h1 {
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.for-cards > p {
    font-size: 18px;
    text-align: center;
}

/* *************************** */

/* extra */
.parents {
    font-size: 0px;
    text-align: left;
    margin-top: 20px;
    }
    .child-yellow {
        width: 400px;
        height: 200px;
        display: inline-block;
        border: 1px solid red;
        font-size: 18px;
        background: yellow;
    }
    .child-blue-1 {
        font-size: 18px;
        display: inline-block;
        background: blue;
        border: 1px solid red;
        width: 400px;
        height: 198px;
        vertical-align: top;
    }
    .child-blue-2 {
        font-size: 18px;
        display: inline-block;
        background: blue;
        border: 1px solid red;
        width: 800px;
        height: 198px;
    }
    .block-blue-1 {
        height: 99px;
        border: 1px solid red;
    }
    .block-blue-2 {
        height: 66px;
        border: 1px solid red;
    }
    .child-red-1 {
        font-size: 18px;
        display: inline-block;
        background: rgb(119, 43, 43);
        border: 1px solid red;
        width: 800px;
        height: 200px;
        vertical-align: top;
    }
    .child-red-2 {
        font-size: 18px;
        display: inline-block;
        background: rgb(119, 43, 43);
        border: 1px solid red;
        width: 400px;
        height: 200px;
        vertical-align: top;
    }
    .block-red-1 {
        height: 100px;
        border: 1px solid red;
    }



    /* ******************************** */


    /* gallery */
    .gallery{
        min-height: 100px;
        max-width: 400px;
        background: red;
        margin: 0 auto;
        position: relative;
        z-index: 1;
        font-size: 0;
    }
    /* .flex {
        display: flex;
    } */
    .gallery img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .gallery-text{
        background: rgba(0,0,0,0.5);
        width: 100%;
        position: absolute;
        top: 50%;
        left: 0;
        color: aliceblue;
        font-size: 25px;
        height: 150px;
        overflow: hidden;
        display: none;
        margin-top: -75px;
        text-align: center;
    }
    .gallery:hover .gallery-text {
        display: block;
        /* box-shadow: black; */
        /* color: aqua; */
    }



/* ****************************** */

/* gallery */


.gallery{
    min-height: 100px;
    max-width: 400px;
    background: red;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    font-size: 0;
    /* margin-top: 50px; */
}
/* .flex {
    display: flex;
} */
.gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-text{
    background: rgba(0,0,0,0.5);
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    color: aliceblue;
    font-size: 25px;
    height: 150px;
    overflow: hidden;
    display: none;
    margin-top: -75px;
    text-align: center;
}
.gallery:hover .gallery-text {
    display: block;
    /* box-shadow: black; */
    /* color: aqua; */
}

/* ***************************** */


/* .footer{
    background: rgb(223, 201, 201);
    padding: 20px; */
    /* position: fixed; */
    /* bottom: 0;
    left: 0;
    width: 100%; */
    /* z-index: 5; */
    /* margin-bottom: 50px; */
    /* просто потренировался прибить футер ко дну */
    /* Не понимаю как сделать чтобы футер не перекрывал контент на других страницах (float,cards,gallery и тд) возможно просто забыл */
/* }
.flex-footer {
    display: flex;
    justify-content: center;
}
.flex-footer li + li {
    margin-left: 25px;
}

.footer-icon {
    fill: rgb(181, 21, 225);
    width: 30px;
    height: 30px;
}
.footer-icon:hover {
    fill: black;
}

.flex-footer a {
    display: block;

}

.head-icon {
    width: 50px;
    height: 50px;
} */



/* ! ****************** */

/* 
.footer {
    border: 1px solid red;
    position: fixed;
    bottom: 0%;
    right: 150px;
    padding: 20px 20px;
    background: blue;
    width: 300px;
}

.fixed-menu-title {
    color: #01c7dd;
    padding: 10px 0;
    text-align: center;
    background: #fff;
    margin-bottom: 30px;
    font-weight: 900;
    background: black;
}
.text:hover .social-icon {
    transform: translateY(0);
}
.social-icon  {
    padding: 10px 10px;
    transform: rotate(45deg);
    transform: translateY(500px);
}
.social-icon svg {
    width: 35px;
    height: 35px;
    fill: black;
}

.icon {
    display: flex;
    gap: 3px;
    transform: translateY(500px)
}
.footer-list {
    border: 1px solid red;
    margin: 1px 0;
    padding: 5px 5px;
}
.footer-list svg {
    fill: #01c7dd;
    transform: rotate(-45deg);
    width: 35px;
    height: 35px;
    
}
.footer-list a {
    display: block;
} */


/* !-------------------------- */

.fixed-menu {
    position: fixed;
    bottom: 0;
    right: 100px;
    /* background: blue; */
    width: 300px;
    transform: translateY(calc(100% - 42px));
    transition: all .7s linear;
}

.fixed-menu:hover {
    transform: translateY(0);
}

.fixed-menu-tittle {
    font-size: 32px;
    padding: 5px 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    color: #7f75a5;
    background: rgb(61, 54, 48);
}

.fixed-menu-box {
    background: rgb(220, 210, 202);
    padding: 50px 0;
}
.fixed-menu-list {
    width: 140px;
    display: flex;
    flex-flow: wrap;
    gap: 5px;
    margin: 0 auto;
    justify-content: center;
    /* background: red; */
    transform: rotate(45deg);
}

.fixed-menu-list li {
    border: 1px solid rgb(61, 54, 48);
}
.fixed-menu-list li a {
    display: block;
    font-size: 8px;
    padding: 5px;
}

.fixed-menu-list li :hover svg{
    fill: #fff;
    /* transform: rotate(360deg); */
}
.fixed-menu-icon {
    width: 50px;
    height: 50px;
    fill: #7f75a5;
    transform: rotate(-45deg);
    /* transition: all 2s linear; */
}